.homepage {
    /* background-image: url('/gabriel-cox-79VOCg2aIkA-unsplash.jpg'); */
    background-image: url('/Cadiz Sunset_Edit1.jpg');
    /* background-image: url('/1689_0013.jpg'); */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative; /* Ensure positioning context */
    z-index: 1;
}


.section1 {
    background: linear-gradient(to right, #cfe2f3, white); /* Adjust paths accordingly */
}

.section2 {
    background-image: url('/2024_07_13_NSS(160).jpg');
}

.section3 {
    background-image: url('/dejan-zakic-_PkORBFPQdE-unsplash.jpg');
    color: aliceblue;

}

.section4 {
    background-color:seashell;
    font-size: 125px;
    
}

.section5 {
    background-color: bisque;
}

.section6 {
    background-color: #002039;
    color: white;
}

.section7 {
    background-image: url('/16-_DSC2214.jpg');
}

.section {
    height: 70vh; /* Height of the section */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the background image */
    display: flex; /* Flexbox to center content */
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    text-align: center; /* Center text */
}

.contact-footer {
    height: 30vh;
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the background image */
    display: flex; /* Flexbox to center content */
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    text-align: center; /* Center text */
}

p {
    margin: 10px 40px 50px;
    text-align: start;
}


.icon-grid {
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-grid span {
    display: block; /* Ensure the span takes a new line */
    margin-top: 5px; /* Space between the icon and the text */
    font-size: 30px; /* Default text size */
}


.custom-icon {
    width: 100%; /* Use full width of the container */
    max-width: 110px; /* Limit the max width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure it behaves like a block element */
    margin: 0 auto; /* Center align */
    color: black;
    transition: transform 0.3s ease;
}

.custom-icon .django-logo {
    max-width: 38%; 
}

.custom-icon:hover {
    transform: translateY(-10px);
    
}


/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .custom-icon {
        font-size: 80px; /* Smaller icon size for medium screens */
    }
    .django-logo  {
        max-width: 75px;
        height: auto; /* Even smaller icon size for small screens */
    }

    .icon-grid span {
        font-size: 24px; /* Smaller text size for medium screens */
    }
}

@media (max-width: 768px) {
    .custom-icon {
        font-size: 60px; /* Even smaller icon size for small screens */
    }
    .django-logo  {
        max-width: 55px;
        height: auto; /* Even smaller icon size for small screens */
    }

    .icon-grid span {
        font-size: 20px; /* Even smaller text size for small screens */
    }
}

@media (max-width: 480px) {
    .custom-icon {
        font-size: 40px; /* Smallest icon size for extra small screens */
    }
    .django-logo  {
        max-width: 40px;
        height: auto; /* Even smaller icon size for small screens */
    }
    .icon-grid span {
        font-size: 18px; /* Smallest text size for extra small screens */
    }
    .section4 {
        height: auto;
        padding-top: 20px;
    }
}
