.homepage {
    background-image: url('/public/gabriel-cox-79VOCg2aIkA-unsplash.jpg'); /* Adjust the path accordingly */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-top: 29vh;
    align-items: center;
    position: relative; /* Ensure positioning context */
    z-index: 1
}

.section1 {
    background-color: aliceblue; /* Adjust paths accordingly */
}

.section2 {
    background-image: url('/2024_07_13_NSS(160).jpg');
}

.section3 {
    background-image: url('/dejan-zakic-_PkORBFPQdE-unsplash.jpg');
    color: aliceblue;
}

.section4 {
    background-image: url('/path/to/image4.jpg');
    background-color:seashell
}

.section {
    height: 70vh; /* Height of the section */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the background image */
    border: solid black; /* Border for visual reference */
    display: flex; /* Flexbox to center content */
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    text-align: center; /* Center text */
}

p {
    margin: 10px 40px 50px;
    text-align: start;
}