.work-container {
    padding-top: 20vh;
    padding-bottom: 10vh;
    margin: 0;  /* Remove any default margin */
    width: 100vw;
    position: relative;
    min-height: 100vh;
    background: url('/alim-cxj-8PILRU4-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
}


.row {
    margin: 0; /* Remove margin from the row */
}


.work-section-container {
    border-radius: 10px;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.8);
}

.work-section-text {
    padding: 6%;
    font-size: large;

}

.work-section-imagery {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    height: 100%; /* Ensure the column takes up the full height */
    padding:75px;
}

.work-section-imagery video {
    width: 100%; /* Make the image fill the column width */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Prevent overflow */
    object-fit: contain; /* Ensure the image fits well within the column */
}
