.footer {
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #003262;
    color: white;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  @media (max-width: 600px) { /* You can adjust the max-width to your needs */
    .footer {
        height: 50vh; /* 50% of the viewport height for smaller screens */
    }
}

  .footer-container {
    flex-grow: 1; /* Allow the container to grow and fill the footer */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Helps in spacing the elements */
    height: 100%; /* Ensures the container takes full height of the footer */
}

.footer-title {
    margin: 1rem 0; /* Adds spacing around the title */
}

.footer-row {
    display: flex;
    display: flex; /* Use flexbox to align items */
    align-items: center ; /* Vertically center the row content */
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-copy {
    margin: 0; /* No margin for the copyright text */
    text-align: center;
}

.custom-icon-footer {
  color: white;
  font-size: 4rem;
  transition: color 0.3s ease; 
  vertical-align: middle
}

.custom-icon-footer:hover {
    color: rgb(255, 170, 65); 
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }
  
  .shake {
    display: inline-block; /* Allows for the transform effect */
    animation: shake 0.5s ease-in-out; /* Animation properties */
  }